<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/circle-cropped.png" type="image/x-icon">
    <title>Edu Saathi</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="">
        <h1 class="text-white font-extrabold text-xl md:text-3xl lg:text-5xl text-center mb-6 mt-[20%]"><%= msg %></h1>
    </div>
    <style>
#heading{
    background: -webkit-linear-gradient(right, #fff23a , #00ffcc);
  -webkit-background-clip: text;
  color: transparent;
}
 body{
  overflow-x: hidden;
  background-image: url("https://img.freepik.com/premium-photo/black-texture-with-micro-relief-glitter-similar-night-sky-with-stars_328295-503.jpg");
  
}
    </style>
</body>
</html>